/* Navigation */

/* - Overwrites Bootstrap default colors - */

.navbar-default {
  background-color: white;
}

/* - Overwrites Bootstrap navbar - */

.navbar {
  margin-bottom: 0px;
  border: 0px;
  border-bottom: 1px solid rgb(237, 239, 241);
  border-radius: 0px;
}

.navbar-default .navbar-brand{
  color: black;
  font-weight: 800;
  font-size: 20px;
}

/* - Navbar images - */

.navImg {
  border-radius: 50%;
  height: 55px;
  margin-left: 10px;
  filter: opacity(70%) grayscale(0.75);
  -webkit-filter: opacity(70%) grayscale(0.75); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.active .navImg {
  filter: opacity(100%);
  -webkit-filter: opacity(100%); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.navImg:hover {
  filter: opacity(1);
  -webkit-filter: opacity(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

@media (min-width: 768px) {
    .container>.navbar-header {
        min-width: 350px;
    }
}

.navbar .container {
  width: 100%;
  padding-left: 50px;
}

/* Sticky footer */

html, body {
  height: 100%;
}
.app-container  {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.content{
  flex: 1;
  display: flex;
}
.footer {
  flex-shrink: 0;
}

/* Footer */

.footer {
  background-color: #222;
  height: 50px;
  color: white;
  margin-top: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.icon {
  height: 25%;
}

/* Content */

.content {
  padding-left: 50px;
  padding-right: 50px;
}

/*Titles*/

h1,
h2 {
  font-family: 'Lato';
  font-weight: 700;
  color: #4a4a4a;
  margin-top: 20px;
}

h1 {
  font-size: 20px;
  margin-bottom: 0px;
  margin-bottom: 20px;
}

/* App */

.app a:hover {
  text-decoration: underline;
}

/* Cards */

.card img { 
  max-width: 100%;
}

.card {
  margin-bottom:20px;
  min-height: 205px;
}

@media screen and (max-width: 600px) {
  .card  { 
    margin-bottom: 20px;
    min-height: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .card  { 
    min-height: 180px;
  }
}

@media screen and (min-width: 1600px) {
  .card  { 
    min-height: 220px;
  }
}

.card-title {
 margin-top: 10px;
}

/* styles for '...' */ 
.card-title {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}
/* create the ... */
.card-title:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.card-title:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

a {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
}

/* Video Preview */

.video {
  margin-top: 5px;
  flex-grow: 1;
}

.iframe-container {
  margin-top: 5px;
  height: 60%;
  max-width: 1200px;
}

p {
  display: inline;
  margin: 0;
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
}

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Nunito+Sans:200i,300,400,700,900');
